
@{
    ViewBag.Title = "AnaSayfa";
}

<table border="1">
    <thead>
        <tr>
            <th>Aktif Kullanıcı Sayısı</th>
            <th>Toplam Kullanıcı Sayısı</th>

        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@ViewBag.ActiveUserCount</td>
            <td>@ViewBag.TotalUserCount</td>
        </tr>
    </tbody>


</table>